<div  class="bottom-navigation hide-on-med-and-up hidden-bottom-nav">
<nav>
  <div class="nav-wrapper">
    <ul>
      <li class="waves-effect waves-light"><a href="/"><i class="material-icons">home</i></a></li>
      <li class="waves-effect waves-light"><a href="/"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a></li>
      <li class="waves-effect waves-light"><a href="products"><i class="material-icons">shopping_basket</i></a></li>
      <li class="waves-effect waves-light"><a href="compare"><i class="material-icons">compare_arrows</i></a></li>
    </ul>
  </div>
</nav>
</div>
