<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Products</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada quam a tellus gravida mollis. Proin sodales purus quis turpis vestibulum condimentum. Duis diam leo, suscipit vitae sapien eu, facilisis sodales ipsum. Sed mollis pharetra nisi ut tincidunt. Curabitur scelerisque tempus turpis dictum tincidunt. Suspendisse turpis ligula, tristique et tortor a, placerat tincidunt dui. Integer magna enim, malesuada vel elit nec, porta auctor diam. Mauris tempor mollis tristique. Mauris justo augue, aliquet at vehicula in, vehicula a quam. In suscipit, magna et laoreet auctor, sem dui pulvinar dolor, ac commodo magna quam non mauris. Duis interdum massa nec ex aliquet scelerisque. Quisque posuere ex ac leo auctor varius at vitae neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut mattis risus quis dui vestibulum ullamcorper non sit amet nibh.</p>
    </div>
  </div>
</div>
